* {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  width:100%;
}

nav ul li{
   display: inline-block;
   list-style: none ;
   margin: 10px 20px;
}

nav ul li a{
   text-decoration: none;
   color: #162661;
   font-weight: bold;

}

nav ul li a:hover{
   color: rgb(105, 205, 255)
}

body {
  transition: background-color 0.5s ease;
  background-color: rgb(223, 220, 220);
}

main {
  display: block;
}

.musicInfo {
  align-items: center;
  width: 800px;
  height: 170px;
  text-align: center;
  padding: 80px;
  border-radius: 28%;
  background-color: #bfbfbf;
  box-shadow: 0 0 2px rgba(152, 191, 235, 0.1);
}

.dark-mode {
  background-color: #171717;
  color: #ffffff;
}

.buttonTM {
  position: fixed;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 60px;
}

.pink {
  font-size: 20px;
}

h1,
p,
.btnPlay {
  text-align: center;
}

h2 {
  text-align: center;
}

section .img {
  width: 50px;
  height: 60px;
}

